<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Shop</a>
        <ul id="nav-mobile" class="right">

        {{#if isHome}}
            <li class="active"><a href="/">Главная</a></li>
        {{else}}
            <li><a href="/">Главная</a></li>
        {{/if}}

        {{#if isProducts}}
            <li class="active"><a href="/products">Товары</a></li>
        {{else}}
            <li><a href="/products">Товары</a></li>
        {{/if}}

        {{#if isAuth}}
            {{#if isAdd}}
                <li class="active"><a href="/add">Добавить</a></li class="active">
            {{else}}
                <li><a href="/add">Добавить</a></li>
            {{/if}}

            {{#if isCart}}
                <li class="active"><a href="/cart">Корзина</a></li class="active">
            {{else}}
                <li><a href="/cart">Корзина</a></li>
            {{/if}}

            {{#if isOrders}}
                <li class="active"><a href="/orders">Заказы</a></li class="active">
            {{else}}
                <li><a href="/orders">Заказы</a></li>
            {{/if}}
             <li  class="menu-item-right"><a href="/auth/logout">Выйти</a></li>
        {{else}}
            {{#if isLogin}}
                <li class="active menu-item-right"><a href="/auth/login#login">Войти</a></li class="active">
            {{else}}
                <li class="menu-item-right"><a href="/auth/login#login">Войти</a></li>
        {{/if}}
        {{/if}}
        </ul>
    </div>
</nav>