<h1 class="title_medium center">Ваша корзина</h1>
<p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores amet voluptatibus, quasi ipsa maxime sint!</p>

{{#if @root.isAuth}}

<div id="cart" class="cart" data-person="user">

{{else}}

<div id="cart" class="cart" data-person="guest">

{{/if}}

    {{#if products.length}}
    
    {{> cart-table}}

    <p class="cart__total_wrapper">Сумма к оплате: <strong class="js-cart__total cart__total currency">{{price}}</strong></p>
    
    {{#if @root.isAuth}}

    <a href="/checkout" class="btn button button_accent">Оформить заказ</a>

    {{else}}
    <a href="/checkout/{{token}}" class="btn button_accent cart__button">Оформить заказ без регистрации</a>

    {{> link/auth-link}}

        
    {{/if}}
    
    {{else}}
        <p>Товаров в корзине пока нет</p>
        <a href="/products" class="link link_accent">Вернуться к покупкам</a>
    {{/if}}
</div>