{{#ifAdmin @root.user._id}}
<h1>Все заказы</h1>
{{else}}
<h1>Мои заказы</h1>
{{/ifAdmin}}
{{#if orders.length}}
        <div class="orders">
        {{#each orders}}
            <div class="order">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            Заказ <small>{{_id}}</small>
                        </span>
                        <p class="orders__date">Дата: {{formatDate}}</p>
                        <p><em>{{user.name}} {{user.surname}}</em></p>

                            <table class="order__table table">
                                    <thead class="thead cart__thead">
                                    <tr>
                                        <th>Товар</th>
                                        <th>Количество</th>
                                        <th>Цена</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                        <tr>
                                            <td class="tcell">
                                               <a href="/products/{{product._id}}"><h3 class="product__title">{{product.name}}</h3></a>
                                            </td>
                                            <td class="tcell">
                                                {{quantity}}
                                            </td>
                                            <td class="js-product__price tcell currency">
                                                {{product.price}}
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                        <p>Сумма: <span class="product__price currency">{{price}}</span></p>
                        <p>Номер телефона: {{user.phone}}</p>
                        <p>Способ оплаты: {{user.payment}}</p>
                        <p>Email:  {{user.email}}</p>
                        <p>Адрес: {{user.address}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
{{else}}
    <p>Заказов пока нет</p>
{{/if}}