<h1>Редактировать: {{product.title}}</h1>

{{#if error}}
   <p class="alert">{{error}}</p>
{{/if}}

<form action="/products/edit" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{product.id}}"></input>

    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" value="{{product.name}}" required>
        <label for="title">Название товара</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1" value="{{product.price}}">
        <label for="price">Цена товара</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>

    <div class="input-field">
      <select required name="category" multiple>
          <option value="{{product.category}}" selected>{{product.category}}</option>
          <option value="anime">anime</option>
          <option value="animal">animal</option>
      </select>
      <label>Категория</label>
    </div>

    <div class="input-field">
        <textarea id="description" name="description" class="materialize-textarea" required>{{product.description}}</textarea>
        <label for="description">Описание товара</label>
        <span class="helper-text" data-error="Введите описание"></span>
    </div>


    <div class="file-field input-field">
      <div class="btn">
        <span>Изображение</span>
        <input type="file" id="img" name="img" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" value="{{product.img}}">
      </div>
    </div>

    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
    <button class="btn btn-primary" type="submit">Редактировать</button>

</form>

<form action="/products/remove" method="POST" class="product__remove">
    <input type="hidden" name="id" value="{{product.id}}"></input>
    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
    <button type="submit" class="btn red">Удалить товар</button>
</form>